@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido, ¿Has tenido ataques de ansiedad o estrés en grandes niveles?</h1>
    <p>PsiqueHelp es una página web que abarcará este aspecto social fuertemente impactado durante los últimos años. Esta página interactuará con usuarios que posean problemas de esta índole para que se puedan documentar con información brindada por expertos en la materia, además tendrán acceso a diversos contenidos terapéuticos para poder recurrir en momentos de crisis. </p>
</div>
