@{
    ViewData["Title"] = "Acerca de";
}
<h1>@ViewData["Title"]</h1>

<p>Sabias que según datos globales la misma ONU resalta que cerca de un sexto de la población mundial se ve afectada por problemas de ansiedad que es el principal promotor de estos casos mortales. En la sociedad nicaragüense se han dado casos muy graves en cuestión de problemas psicológicos, especialmente en los jóvenes que protagonizan las tazas de suicidios según datos de la policía nacional, de manera global la misma ONU resalta que cerca de un sexto de la población mundial se ve afectada por problemas de ansiedad que es el principal promotor de estos casos mortales. Si bien la ansiedad consiste en un sentimiento de miedo, temor e inquietud. Puede ser una reacción normal al estrés. Una de las maneras de identificar este problema es mediante la ayuda de profesionales que le preguntarán sobre sus síntomas e historial médico.</p>
